/* style for common */
body{
	font-family: Microsoft YaHei;
    font-size: 14px;
    background-color: #f3f3f3;
    color: #444;
}
.dialog-box{
	position: fixed;
    top: 40%;
    left: 0;
    width: 100%;
    text-align: center;
    opacity:0;
    pointer-events:none;
    z-index:999999;
}
.dialog-box p{
	height:100%;
	position:relative;
	display:inline-block;
	*display:inline;
	*zoom:1;
	padding: 0px 50px;
	border-radius:5px;
	overflow: hidden;
}
.dialog_box-bg{
	background-color: #024572;
	display:block;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	z-index:-1;
	opacity: 0.7;
	filter:alpha(opacity=70);
    -khtml-opacity: 0.7; 
    -moz-opacity:0.7; 
}
.dialog_box-text{
	font-size:16px;
	color:#fff;
}
.dialog_box-text a{
	padding: 10px 0;
    display: inline-block;
    max-width: 300px;
}
/* top search */
#main
{
	margin: 0 5%;
    padding:30px 0 100px;
}
.pageTitle
{
	padding-bottom:30px;
}
.pageTitle span
{
	display: block;
    float: left;
    font-size: 18px;
    margin-right: 40px;
    color:#5F5F5F;
    padding-bottom:5px;
    position:relative;
    cursor: pointer;
}
.pageTitle .back{
	color: #5f5f5f;
	float: right;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}
.pageTitle .back a{
	color: #5f5f5f;
}
.pageTitle .back i{
	width: 18px;
	height: 18px;
	display: inline-block;
	background: url(../image/icon-go-back.png) no-repeat;
	background-size: 100% 100%;
	margin-right: 5px;
	margin-top: 7px;
	float: left;
}
.search
{
	padding:20px;
	background-color: #fff;
	border:1px solid #ccc;
	border-radius: 3px;
}
.search i
{
	margin:0 5px;
}
.search .date
{
	border: 1px solid #DDDDDD;
    border-radius: 3px;
    display: inline-block;
    height: 34px;
    width: 150px;
}
.search .keyword
{
	border: 1px solid #DDDDDD;
    border-radius: 3px;
    display: inline-block;
    height: 35px;
    width: 200px;
    background: #fff url(../image/fdj.png) no-repeat;
	background-position: 10px 50%;
	margin-left: 20px;
}
.search input
{
	background-color:transparent;
	border:0;
	padding:0;
	margin:0;
	width:100%;
	height:100%;
}
.search .date input
{
	text-indent: 0.5em;
	color:#666;
	background-color: #fff;
}
.search .keyword input
{
	text-indent:35px;
	color:#666;
}
.search .submit
{
	background-color: #FB7C00;
    border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
    height: 34px;
    margin-left: 34px;
    width: 100px;
    cursor: pointer;
}
.search .submit input
{
	color:#fff;
	cursor: pointer;
	font-size:14px;
}
.search .add
{
	background-color: #418ED5;
    border-radius: 3px;
    color: #FFFFFF;
    float: right;
    height: 34px;
    line-height: 34px;
    text-align: center;
    width: 95px;
}
.search .add a
{
	color:#fff;
	display:block;
}
.search .dropdown{
	margin-left: 20px;
}
.search select{
    background: transparent;
   	width: 120px;
   	height: 36px;
   	font-size: 14px;
   	text-indent:15px;
   	border: 1px solid #DDDDDD;
}
.search select::-ms-expand { display: none; }
/* top search end */
.container{
	position: relative;
	font-size: 15px;
	margin-top: 16px;
}
.container table{
	width: 100%;
	color: #656565;
	background-color: #fff;
	border: 1px solid #e3e3e3;
}
.container table thead th{
	height: 70px;
	font-weight: normal;
	position:relative;
	background-color: #f2faff;
}
.container table tfoot tr{
	height: 65px;
	font-weight: normal;
	position:relative;
	background-color: #fafafa;
}
.container table tr td{
	height: 60px;
}
.container table tr .a a{
	color: #418ed5;
	padding: 3px;
	border-bottom: 1px;
}
.container table tr .a a:hover{
	border-bottom: 1px solid #418ed5;
}
.container table tr{
	text-align: center;
	border-bottom: 1px solid #e3e3e3;
}
.container table tr:hover{
	background-color: #fafafa;
}
.container table .operation{
	width: 10%;
	position: relative;
}
.container table .operation div {
	position:relative;
	width: 100px;
    margin: 0 auto;
}
.container .operation .option{
	background-color: #fff;
    border-left: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
    cursor: pointer;
    display: none;
    left: 0;
    position: absolute;
    text-align: center;
    top: 44px;
    width: 100%;
    z-index: 9;
}
.container .operation .option li{
	border-bottom: 1px solid #E3E3E3;
    height: 32px;
    line-height: 32px;
    text-align:center;
}
.container .operation .option li a{
	color: #656565;
	display: block;
}
.container .operation .option li:hover{
	color: #fff;
	background-color: #E37202;
}
.container .operation .option li a:hover{
	color: #fff;
	background-color: #E37202;
} 
.container .operation .selecting{
	position: absolute;
    top: 35px;
    left: 0;
    z-index: 999999;
}
.container .operation .mag{
	text-align: center;
	color: #fff;
	background-color: #418ed5;
	width: 100px;
	height: 35px;
	line-height: 35px;
	display: inline-block;
	border-radius: 4px;
	cursor: pointer;
}
.container table .sort{
	display: block;
	background: url(../image/icon-sj.png) no-repeat;
	background-position: 74% 50%;
	cursor: pointer;
}
.container table .sort-white{
	display: block;
	background: url(../image/icon-white-sj.png) no-repeat;
	background-position: 75% 50%;
	cursor: pointer;
	padding-right: 7px;
}
.module {
	font-size: 16px;
	text-align: center;
	margin: 10px 0;
	padding-top: 35px;
	width: 750px;
	min-height: 500px;
	line-height: 25px;
	border-radius: 3px;
	border: 1px solid #e4e4e4;
	background-color: #fff;
}
.module .label{
	color: #888;
	font-size: 18px;
}
.module div{
	margin: 15px auto;
}
.module .tip{
	font-size: 14px;
	margin-top: 15px;
	color: #888;
}
.module .input-uz{
	background-color: #fff;
	margin: 0 auto;
}
.module .error-msg {
	width: 300px;
	margin: 6px auto;
	text-align: left;
	font-size: 14px;
}
.module select{
	width:305px;
	height:45px;
	line-height:45px;
	border:1px solid #ccc;
	border-radius: 3px;
	outline: none;
	padding-left: 6px;
	margin-top: 10px;
	background-color: #fff;
}
.module select:hover{
	box-shadow:0 0 6px -2px #117bd8 !important;
    border:1px solid #117bd8 !important;
}
.module select option{
	text-indent:10px;
}
.module .submit:hover{
	background-color: #d56a00;
}
.module .submit{
    border: 0 none;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
    background-color: #fb7c00;
    border-radius: 5px;
    height: 50px;
    width: 300px;
    margin-top: 20px;
}
/* common end */

/* style for popupbox */
#mask{
	display: none;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 50;
	filter: alpha(opacity=80);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
	position: fixed;
	top: 0;
	left: 0;
}
.popup{ 
	width: 560px;
	z-index: 9999;
	display: none;
	margin-top: -230px;
	margin-left: -250px;
	background-color: #FFF;
	position: fixed;
	top: 40%;
	left: 50%;
	border-radius: 5px;
	padding-bottom: 24px;
}
.popup .head{
	position: relative;
}
.popup .title{
	color: #fff;
	font-size: 18px;
	background-color: #308cd3;
	height: 60px;
	line-height: 60px;
	border-radius: 5px 5px 0 0;
	text-align: center;
}
.popup .close{
	width: 34px;
	height: 34px;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	top: 8px;
	right: 8px;
	-webkit-transition:all 300ms ease-out; 
	-mozilla-transition:all 300ms ease-out; 
	-ms-transition:all 300ms ease-out; 
	-o-transition:all 300ms ease-out; 
	transition:all 300ms ease-out;
	cursor:pointer;
}
.popup .close:hover {
	-webkit-transform:rotate(90deg); 
	-moz-transform:rotate(90deg);  
	transform:rotate(90deg); 
}
.popup .close i{
	width: 18px;
	height: 16px;
	display: inline-block;
	background: url(../image/icon-close.png) no-repeat;
	background-size: 100% 100%;
	margin-top: 8px;
}
.popup .tip{
	padding: 20px;
	min-height: 60px;
	line-height: 25px;
	border-bottom: 1px dotted #e0e0e0;
	text-align: center;
	color:#5e5e5e;
	font-size:16px;
	word-break: break-all;
	
}
.popup .pbtn{
	text-align: center;
	margin-top: 20px;
}
.popup button{
	border: none;
	width: 120px;
	height: 40px;
	font-size: 16px;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
}
.popup .okBtn{
	color: #fff; 
	margin-left: 30px;
	background-color: #eb6100;
}
.popup .okBtn:hover{
	background-color: #d54506;
}
.popup .cancelBtn{
	color: #fff;
	background-color: #8e8b8b;
}
.popup .cancelBtn:hover{
	color: #fff;
	background-color: #6e6b6c;
}

/* review div */
#reviewDIV .tip input[type=radio]{
	margin: 20px 8px 25px 20px;
}
#reviewDIV .tip p{
	padding-bottom: 15px;
	vertical-align: top;
	display: inline-block;
}
#reviewDIV .tip textarea{
	height: 120px;
	width: 400px;
	padding: 6px;
	margin-left: 6px;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	resize: none;
	outline: none;
	font-size: 14px;
}

/* message add */
.msg-add {
	width: 800px;
	height: 720px;
	margin-top: -30px;
}
.msg-add .title .input-uz{
	width: 670px;
}
.msg-add .message .input-uz{
	width: 660px;
	padding: 10px;
}
.msg-add .message textarea {
	height: 220px;
	width: 99%;
	border: 0;
	outline: none;
	resize: none;
}
.msg-add .error-msg {
	width: 300px;
	height: 20px;
	line-height: 20px;
	margin: 0 0 -5px 60px;
	text-align: left;
	font-size: 14px;
}
.msg-add .choose .dest{
	text-align: left;
	margin: 6px 0 3px 60px;
	width: 300px;
	font-size: 14px;
}
.msg-add .choose .input-uz{
	width: 670px;
	padding: 5px;
	margin-top: -2px;
	display: none;
	text-align: left;
}
.msg-add .choose #cellPhone {
	height: 110px;
	width: 99%;
	border: 0;
	outline: none;
	resize: none;
}



/* style for user-audit */
.user-audit{
	background-color: #fff;
	padding-bottom: 100px;
}
.user-audit .choose-type{
	padding-top: 10px;
	padding-bottom: 50px;
	border-bottom: 1px solid #dbdbdb;
}
.user-audit .choose-type .special-marks{
	float: left;
	color: #ff4200;
	margin-top: 13px;
	width: 8px;
	height: 8px;
	display: inline-block;
	margin-left: 23px;
}
.icon-red{
	color: #ff4200;
	margin-right: 8px;
	width: 8px;
	height: 8px;
	display: inline-block;
	float: left;
	margin-top: 3px;
}
.downward{
	margin-top: 12px;
}
.user-audit dl .industry-class,.recommendType
{
	float: left;
	width: 150px;
	height: 40px;
	line-height: 40px;
	background-color: #dadada;
	margin-left: 10px;
	position: relative;
	text-align: center;
}
.industry-class span,.recommendType span
{
	display:block;
	background: url(../image/icon-sj.png) center no-repeat;
	background-position: 87% 50%;
	cursor: pointer;
}
.list-classes,.recommendType-list
{
	z-index: 999;
	background-color: #fff;
	display: none;
}
.list-classes li,.recommendType-list li
{
	border-bottom: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	cursor: pointer;
	text-align: center;
}
.recommendOperation .recommendList a
{
	vertical-align: middle;
    display: inline-block;
}
.recommendList em
{
	vertical-align: middle;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #ccc;
    margin-right: 5px;
    border-radius: 3px;
}
.recommendList em i
{
	width: 8px;
    height: 8px;
    background-color: #fa0;
    display: block;
    margin-left: 2px;
    margin-top: 2px;
    border-radius: 3px;
    display:none;
}
.recommendOperation-list .recommendType-Btn
{
	padding:5px 10px;
}
.recommendType-list #recommendType-Btn
{
	padding:5px 10px;
}
.recommendType-Btn a,#recommendType-Btn a
{
	display: block;
    background-color: #f60;
    color: #fff;
    text-align: center;
    line-height: 34px;
    height: 34px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 5px 25px -5px #fa0 inset,1px 1px 2px 0px #ccc;
}
.recommendType-Btn a:hover
{
	background-color: #f70;
	box-shadow: 0 5px 25px -5px #fb0 inset,1px 1px 4px 1px #ccc;
}
.recommendType-Btn a:active
{
	background-color: #f50;
	box-shadow: 0 5px 25px -5px #f90 inset,1px 1px 4px 1px #333 inset;
}
.list-classes li:hover{
	color: #fff;
	background-color: #E37202;
}
.artical-add dl .check-box{
	 float: left;
	 margin-left: 30px; 
	 margin-top: 10px;  
}
.artical-add .check-box .checked{
	width: 16px;
	height: 16px;
	border: 1px solid #dbdbdb;
	display: inline-block;
	margin-right: 5px;
}
.artical-add .check-box .checked i{
	width: 9px;
	height: 14px;
	background: url(../image/icon-checked-grey.png) no-repeat;
	background-size: 100% 100%;
	display: inline-block;
	margin-left: 3px;
	display: none;
}
.empty{
	float: right;
	margin-right: 40px;
	margin-top: 10px;
	height: 30px;
	line-height: 30px;
}
.empty i{
	width: 16px;
	height: 18px;
	background: url(../image/icon-delete.png) no-repeat;
	background-size: 100% 100%;
	display: inline-block;
	margin-right: 7px;
	margin-top: 5px;
	float: left;
}
.empty-word{
	padding-bottom: 15px;
}
.headerline{
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 20px;
	font-size: 17px;
}
.input-title{
	margin-left: 20px;
	width: 535px;
	height: 40px;
	border-radius: 5px;
	outline: none;
	background-color: #fff;
	text-indent: 10px;
	border: 1px solid #e5e5e5;
}
.brief-introduction{
	margin-top: 20px;
}
.brief-introduction .details{
	margin-left: 20px;
}
.brief-introduction .details textarea{
	width: 95%;
	height: 100px;
	border: 1px solid #e5e5e5;
	margin-left: 50px;
	margin-top: -20px;
	border-radius: 5px;
	padding-top: 10px;
	padding-left: 10px;
	outline: none;
	color: #333;
}
.main-text{
	margin-top: 30px;
	margin-bottom: 15px;
}
.description{
	margin-top: 50px;
	margin-left: 20px;
	color: #5f5f5f;
	font-size: 17px;
	clear: both;	
}
.transshipment{
	float: left;
}
.transshipment .trp-input{
	width: 200px;
	height: 38px;
	border-radius: 5px;
	border: 1px solid #e5e5e5;
	margin-left: 15px;
	text-indent: 10px;
}
.reading-nums{
	float: left;
	margin-left: 51px;
}
.reading-input{
	width: 166px;
	height: 38px;
	border-radius: 5px;
	border: 1px solid #e5e5e5;
	text-indent: 10px;
	margin-left: 10px;
}

.display-status{
	float: left;
	margin-left: 75px;
}
#status-classes{
	background-color: #E9E9E9;
    border-radius: 5px;
    display: inline-block;
    height: 38px;
    line-height: 38px;
    margin-left: 15px;
    position: relative;
    padding-left: 30px;
    padding-right: 22px;
    width: 50px;
}
.display-status ul{
	background-color: #FFFFFF;
    display: none;
    left: 0;
    position: absolute;
    top: 36px;
    width: 100%;
}
.display-status ul li{
	border-bottom: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
    height: 38px;
    text-align:center;
    padding:0;
}
.cor-artical{
	margin-left: 20px;
	font-size: 17px;
	color: #5f5f5f;
}
.cor-id{
	clear: both;
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #e5e5e5;	
}
.input-corID{
	width: 140px;
	height: 35px;
	border: 1px solid #e5e5e5;
	text-indent: 10px;
	border-radius: 5px;
	margin-left: 30px;
}
.icon-correlative{
	width: 24px;
	height: 24px;
	display: inline-block;
	background: url(../image/icon-correlation.png) no-repeat;
	background-size: 100% 100%;
	margin-left: 30px;
	vertical-align: middle;
}

.preview{
	float: left;
	width: 100px;
	height: 50px;
	margin-left: 30px;
}
.preview a{
	border-radius: 5px;
	outline: none;
	background: none;
	color: #656565;  
	font-size: 20px;
	width: 100%;
	height:52px;
	margin: 0;
	padding: 0;
	border: 1px solid #e5e5e5;
	cursor: pointer;
	display:inline-block;
	text-align: center;
    line-height: 50px;
}
#Mark-img
{
	color: #666666;
    font-size: 18px;
    padding: 30px 20px 120px 20px;
}
.local-upload{
	margin-top: 30px;
	margin-left: 15px;
}
#Mark-img .text
{
	background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    height: 38px;
    text-indent: 0.5em;
    width: 300px;
}
#Upfileclick
{
	background-color: #4ca8e9;
	border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    height: 45px;
    width: 77px;
    cursor: pointer;
    margin-left: 11px;
    margin-right: 20px;
}
#Upfileclick:hover
{
	background-color: #0b8cd2;
}
#RouteText
{
	background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    height: 38px;
    text-indent: 0.5em;
    width: 300px;
    font-size: 16px;
    margin-left: 14px;
    margin-right: 15px;
}
#pvw-img{
	float: left;
}
#pvw-img img
{
	width:186px;
	height:130px;
}
.route{
	float: left;
	margin-left: 40px;
	margin-top: 10px;
}
.detail-figure{
	font-size: 15px;
}
.submitbtnDiv
{
	width: 600px;
    margin: 20px auto;
}
/* style for article-add-success */
.scs-page{
	background-color: #fff;
	padding-top: 100px;
	padding-bottom: 200px;
	text-align: center;
	font-size: 28px;
}
.scs-page button{
	width: 180px;
	height: 50px;
	margin-top: 60px;
	margin-left: 30px;
	background: none;
	border: 1px solid #418ed5;
	font-size: 16px;
	color: #418ed5;
	border-radius: 5px;
	cursor: pointer;
}
.scs-page .go-on{
	background-color: #FB7C00;
	color: #fff;
	font-size: 16px;
	margin: 20px auto 0;
	width: 160px;
	height: 45px;
	line-height: 45px;
	border-radius: 5px;
	cursor: pointer;
}
.scs-page .text-color{
	color: #787878;
	font-size: 24px;
}
.scs-page .back{
	width: 160px;
	height: 45px;
	line-height: 45px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	margin: 70px auto 0;
	text-align: center;
	background-color: #418ed5;
}
.scs-page .back a,
.scs-page .go-on a{
	color: #fff; 
	display:block;
}
.headline-title{
	color: #5f5f5f;
	font-size: 24px;
	float: left;
}
.img-right img{
	width: 100px;
	height: 100px;
}
/* style for banner-manage */	
.add-banner{
	color: #fff;
	font-size: 15px;
	background-color: #418ed5;
	padding: 8px 10px;
	float: right;
	border-radius: 8px;
	cursor: pointer;
}
.add-banner a{
	color: #fff;
}
.get-back{
	color: #5f5f5f;
	float: right;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}
.get-back a{
	color: #5f5f5f;
}
.get-back i{
	width: 18px;
	height: 18px;
	display: inline-block;
	background: url(../image/icon-go-back.png) no-repeat;
	background-size: 100% 100%;
	margin-right: 5px;
	margin-top: 7px;
	float: left;
}
.go-back{
	color: #5f5f5f;
	float: right;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}
.go-back i{
	width: 18px;
	height: 18px;
	display: inline-block;
	background: url(../image/icon-go-back.png) no-repeat;
	background-size: 100% 100%;
	margin-right: 5px;
	margin-top: 7px;
	float: left;
}
.banner-meg{
	padding-top: 28px;
	padding-bottom: 100px;
	margin-top: 65px;
	background-color: #fff;
}
.address{
	float: left;
    margin-left: 10px;
    width: 174px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    background-color:#f9f9f9;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 1px #eee;
}
.address a{
	color: #535353;
	display: block;
}
.site{
	display: block;
	background: url(../image/icon-sj.png) no-repeat;
	background-position: 88% 50%;
	color: #5f5f5f;
    font-size: 14px;
    padding-right: 7px;
}
.banner-meg ul{
	text-align: center;
	background-color: #fff;
	width: 100%;
	font-size: 16px;
	display: none;
    box-shadow: 1px 1px 2px 1px #eee;
    border: 1px solid #ddd;
	cursor: pointer;
	position: absolute;
	top: 43px;
    left: -1px;
    border-radius: 0px 0px 3px 3px;
    box-shadow:1px 1px 2px 1px #eee;
    z-index:5;
}
.banner-meg ul li{
	border-left: 1px solid #fafafa;
	border-right: 1px solid #fafafa;
	border-bottom: 1px solid #fafafa;
}
.drop-box li:hover{
	color: #fff;
	background-color: #E37202;
}
.drop-box li a:hover{
	color: #fff;
	background-color: #E37202;
}
.time{
	float: right;
	margin-right: 40px;
}
.banner-table{
	margin-top: 70px;
	font-size: 16px;
	color: #5f5f5f;
	z-index: 100;
}
.banner-table .tbody{
	width: 100%;
}
.banner-table th{
	height: 45px;
	font-weight: normal;
	border-right: 1px solid #e3e3e3;
	z-index: 10;
}
.banner-table td{
	border-right: 1px solid #e3e3e3;
}
.outside-border{
	margin-left: 40px;
	margin-right: 40px;
}
.delete-step{
	color: #fb7c00;
	cursor: pointer;
}
.no-border td{
	border: none;
}
.banner-table .breadth1{
	width: 5%;
}
.banner-table .breadth2{
	width: 5.6%;
}
.banner-table .breadth3{
	width: 16.4%;
}
.banner-table .breadth4{
	width: 18.6%;
}
.banner-table .breadth5{
	width: 11.2%;
}
.banner-table .breadth6{
	width: 12.5%;
}
.banner-table .breadth7{
	width: 18.7%;
}
.banner-table .breadth8{
	width: 12%;
}
.icon{
	color: #e1e1e1;
}
.bannerUrl{
	width: 200px;
	padding-left: 15px;
	text-align: left;
}
/* style for operation-log */
.log-bg{
	margin-top: 20px;
	background-color: #fff;
	padding: 30px 30px 80px ;
}
.log-bg tr th{
	height: 70px;
	background-color: #efefef;
	border-right: 1px solid #e3e3e3;
	font-weight: normal;
	font-size: 16px;
}
.log-bg tr td{
	border-right: 1px solid #e3e3e3;
	font-size: 15px;
}
.log-bg tr td p{
	line-height: 24px;
}
.log-bg .log-id{
	width: 7.6%;
}
.log-bg .user-name{
	width: 10.1%;
}
.log-bg .operation-time{
	width: 22.9%;
}
.log-bg .operation-container{
	width: 13%;
}
.log-bg .detail-message{
	width: 44%;
}
.log-bg .detail{
	text-align: left;
	padding-left: 3%;
}
.log-bg .log-all{
	margin-top: 20px;
	font-size: 16px;
	color: #052d4c;
}
.blue-color{
	color: #1193d7;
}
.log-title{
	color: #4a4a4a;
	font-size: 28px;
	margin-right: 8%;
}
.query-time{
	color: #4c4c4c;
	font-size: 16px;
	margin-left: 13%;
}
/* cor-detail */
.cor-detail{
	font-size: 15px;
}
.cor-detail tr th{
	height: 67px;
	background-color: #f2faff;
	font-weight: normal;
}
.cor-detail .breadth1{
	width: 12.5%;
}
.cor-detail .breadth2{
	width: 11.7%;
}
.cor-detail .breadth3{
	width: 16%;
}
.cor-detail .breadth4{
	width: 29%;
}
.cor-detail .breadth5{
	width: 13.5%;
}
.cor-detail .breadth6{
	width: 17.3%;
}
.cor-btn{
	width: 70px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	font-size: 13px;
	color: #fff;
	background-color: #1193d7;
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
	margin-left: 10px;
}
.modification{
	color: #418ed5;
	cursor: poninter;
}
.modification a{
	color: #418ed5;
	cursor: poninter;
}
/* style for banner-add */
.banner-add .iconRed{
	color: #ff4200;
	width: 8px;
	height: 8px;
	display: inline-block;
	float: left;
	margin-top: 43px;
	margin-left: 30px;
}
.banner-add .special-red{
	color: #ff4200;
	width: 8px;
	height: 8px;
	display: inline-block;
	margin-top: 4px;
	margin-right: 5px;
}
.banner-add .select-local{
	clear: both;
	height: 100px;
	font-size: 16px;
	background-color: #ebf0f4;
}
.banner-add .address{
	float: left;
	margin-left: 8px;
	width: 174px;
	height: 43px;
	line-height: 43px;
	text-align: center;
	margin-top: 30px;
	background-color:#f9f9f9;
}
.banner-add .select-local ul{
	display: none; 
	background-color: #fff;
	text-align: center;
}
.banner-add .select-local ul li{
	text-align: center;
	display: block;
	border-left: 1px solid #fafafa;
	border-right: 1px solid #fafafa;
	border-bottom: 1px solid #fafafa;
}
.select-local li:hover{
	color: #fff;
	background-color: #E37202;
}
.banner-add .link-ads{
	float: left;
	margin-top: 30px;
	margin-left: 30px;
}
.banner-add .link-ads .chained{
	margin-left: 10px;
	height: 38px;
	width: 400px;
	display: inline-block;
}
.banner-add .link-ads input{
	width: 100%;
	height: 100%;
	text-indent: 10px;
	font-size: 16px;
}
.banner-add .uploading-img{
	background-color: #fff;
	padding-top: 50px;
	padding-bottom: 100px;
	text-align: center;
}
.banner-add .uploading-img .banner-title{
	margin-top: 40px;
	color: #616161;
	font-size: 16px;
}
.banner-add .uploading-img .banner-title input{
	margin-left: 10px;
	width: 500px;
	height: 36px;
	padding-left: 10px;
	font-size: 15px;
	border: 1px solid #a5a5a5;
}
.prompt-message{
	font-size: 14px;
	margin-left: 15px;
	color: #e4453d;
}
#localImag img{
	margin: 0 auto;
	margin-bottom: 25px;
}
.banner-add .uploading-img .descripte{
	color: #616161;
	font-size: 14px;
	text-align: left;
	width: 666px;
	margin: 18px auto 0;
}
.banner-add .uploading-img .special-color{
	color: #2b8acd;
}
.banner-add .input-sbt{
	width: 280px; 
	margin: 60px auto 0;
	height: 43px;
	text-align: center;
}
.banner-add .input-sbt input{
	width: 100%;
	height: 100%;
	border: none;
	color: #fff;
	font-size: 20px;
	border-radius: 5px;
	background-color: #fb7c00;
}
.banner-add .input-sbt input:hover{
	background-color: #ea7500;
}
#condition2{
	display: none;
}
#delete-banner{
	width: 70px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	font-size: 13px;
	color: #fff;
	background-color: #1193d7;
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
	margin-left: 10px;
	margin-top: 20px;
}
.ptnte
{
	position:relative;
}
.popupbox2
{
	display:none;
}
.pbox-bg
{
	background-color: #000;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10010;
    opacity: 0.5;
}
.popupboxmain
{
	width: 400px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #fff;
    z-index: 10086;
    margin-top: -100px;
    margin-left: -200px;
    box-shadow: 5px 5px 15px 1px #444;
    border-radius: 3px;
    overflow: hidden;
}
.popupboxmain .title
{
	background-color: #024572;
    color: #fff;
    line-height: 30px;
    text-indent: 1em;
}
.popupboxmain .text
{
	text-align: center;
    padding: 40px 10px;
}
.popupboxmain .btn
{
	padding: 10px 80px 0;
}
.popupboxmain .btn span
{
	display: block;
    width: 100px;
    height: 40px;
    background-color:#899fbe;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    float: left;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 1px #eee,0 40px 40px -20px #0cc inset;
    cursor:pointer;
}
.popupboxmain .btn span:hover
{
	background-color:#678596;
	box-shadow: 2px 2px 4px 0px #ddd,0 40px 40px -20px #1cc inset;
}
.popupboxmain .btn span:active
{
	background-color:#555;
	box-shadow:0 40px 40px -20px #1cc inset;
}
.popupboxmain .btn a
{
	display: block;
    width: 100px;
    height: 40px;
    background-color:#0E6380;
    float: right;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin-left: 30px;
    border-radius: 3px;
    box-shadow:1px 1px 2px 1px #ddd,0 -30px 50px -20px #383554 inset;
    cursor:pointer;
}
.popupboxmain .btn a:hover
{
	background-color: #716D86;
	box-shadow:2px 2px 4px 0px #ccc,0 -30px 50px -20px #883554 inset;
}
.popupboxmain .btn a:active
{
	background-color:#555;
	box-shadow:0 -30px 50px -20px #883554 inset;
}
.banner-meg-title
{
	float: left;
    height: 43px;
    line-height: 43px;
    margin-left: 50px;
    font-size: 16px;
}
.recommendOperation
{
	position:relative;
	width: 100px;
    margin: 0 auto;
}
.chooseRecommend
{
	position:relative;
	width: 100px;
}